{
  "expo": {
    "name": "Hourglass",
    "slug": "hourglass",
    "version": "0.1.0",
    "orientation": "portrait",
    "scheme": "hourglass",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "ios": {
      "supportsTablet": false,
      "bundleIdentifier": "com.hourglass-nomibress.app",
      "infoPlist": {
        "ITSAppUsesNonExemptEncryption": false,
        "NSCameraUsageDescription": "アウトプット画像を撮影するためにカメラを使用します。"
      }
    },
    "android": {
      "package": "com.hourglass.app"
    },
    "web": {
      "bundler": "metro",
      "output": "single"
    },
    "plugins": [
      "expo-router",
      [
        "expo-image-picker",
        {
          "cameraPermission": "アウトプット画像を撮影するためにカメラを使用します。",
          "photosPermission": false,
          "microphonePermission": false
        }
      ],
      [
        "expo-splash-screen",
        {
          "image": "./assets/images/typography-black.png",
          "backgroundColor": "#ffffff",
          "imageWidth": 280,
          "resizeMode": "contain"
        }
      ],
      "./plugins/withFmtCompat"
    ],
    "experiments": {
      "typedRoutes": true
    },
    "extra": {
      "router": {
        "origin": false
      },
      "eas": {
        "projectId": "4498f1e9-6c92-4c40-976d-8135bf225a8c"
      },
      "apiBaseUrl": "http://localhost:8080/api/v1"
    },
    "owner": "yuehiyamada"
  }
}
